body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3498db; /* default background color */
}

header {
    background-color: #2ecc71;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-bar input[type="search"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.search-bar button[type="button"] {
    background-color: #337ab7;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.menu {
    position: relative;
}

.dots {
    font-size: 24px;
    cursor: pointer;
}

.menu ul {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #337ab7;
    text-decoration: none;
}

.menu a:hover {
    color: #23527c;
}

.color-options {
    display: none;
}

.color-options li {
    margin-bottom: 10px;
}

.bookmark-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.bookmark {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bookmark p {
    font-size: 16px;
    margin: 0;
}
